html {
  position: relative;
  min-height: 100%;
  overflow-x: hidden;
}

body {
  font-family: $font-content;
  background-color: $color-light;
}

body,
html {
    height:100%;
}

a {
  color: $color-primary;
  &:hover {
    text-decoration: none;
    color: darken($color-primary, 5%);
  }
}


.bg-dark {
  background-color: $color-medium !important;
}

.content-wrapper {
  margin-top: 47px;
  overflow: hidden;
}

.sidebarNavbar {
  background-color: $color-primary;
  margin-top: 47px;
  width: 100%;
  height: calc(100vh - 54px);
  min-height: 100%;
  position: absolute;
  font-weight: 300;
  li {
    border-bottom: 1px solid rgba(darken($color-primary, 10%), 0.2);
    &.active {
      //font-weight: 400;
      background-color: darken($color-primary, 10%);
    }
    i {
      font-size: 18px;
    }
    > ul {
      list-style: none;
      padding: 0;
      li {
        padding-top: 6px;
        padding-bottom: 6px;
        padding-left: 20px;
        padding-right: 15px;
      }
      a {
        color: $color-water;
        display: block;
        &:hover {
          text-decoration: none;
        }
      }
    }
  }
  .list-group-item {
    background-color: transparent;
    &.active {
      //font-weight: 400;
      background-color: darken($color-primary, 10%);
    }
  }
  .list-group-item-action {
    color: $color-water;
    &:hover {
      background-color: darken($color-primary, 4%);
    }
  }
}

.navbar-fixed {
  //position: fixed;
  //width: 100%;
}

.pos-rel {
  position: relative;
}
.pos-abs {
  position: absolute;
}

.bg-section {
  background-color: #e9ecef;
}

.page-item {
   .page-link {
     color: $color-primary;
     border-color: $color-soft;
   }
   &.active {
     .page-link {
       color: $color-primary;
       background-color: $color-primary;
       border-color: $color-primary;
       color: $color-water;
     }
   }
}




.metismenu .active>a>.fa.arrow:before {
  content: "\f3d0" !important;
}

.dropdown-menu {
  -webkit-box-shadow: 2px 3px 6px rgba(126, 142, 159, 0.1);
  box-shadow: 2px 3px 6px rgba(126, 142, 159, 0.1);
}

.card-light {
  .card-header {
    border: 0;
    color: $color-medium;
    background-color: $color-soft;
  }
}


.dropdown-menu {
  border-color: $color-soft;
}

@media (max-width: 768px) {
  .sidebarNavbar {
    //position: relative;
  }
}

.access-bg {
  position: relative;
  z-index: 0;
  min-height: 100vh;
  overflow: hidden;
  &:before {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    content: '';
    @include grediant(rgba($color-secondary, 0.9), rgba($color-primary, 0.6));
    z-index: -1;
  }
}

.grediant-overlay {
  @include grediant($color-secondary, $color-primary);
}
