.btn {
  //box-shadow: 0 4px 6px rgba(50,50,93,.11), 0 1px 3px rgba(0,0,0,.08);
  //font-family: $font-heading;
  transition: all .15s ease;
  &:hover {
  }
  &.focus, &:focus {
    box-shadow: 0 0 0 0.2rem rgba($color-primary,.5);
  }
}

.btn-md {
  padding: .575rem 1.2rem;
  font-size: 0.9rem;
}

.btn-primary {
  background-color: $color-primary;
  border-color: $color-primary;
  &:hover {
    background-color: darken($color-primary, 5%);
    border-color: darken($color-primary, 5%);
  }
}

.btn-secondary {
  background-color: $color-secondary;
  border-color: $color-secondary;
  &:hover {
    background-color: darken($color-secondary, 5%);
    border-color: darken($color-secondary, 5%);
  }
}

.btn-outline-primary {
  border-color: $color-primary;
  color: $color-primary;
  &:hover {
    background-color: $color-primary;
    border-color: $color-primary;
  }
}

.btn-outline-secondary {
  border-color: $color-secondary;
  color: $color-secondary;
  &:hover {
    background-color: $color-secondary;
    border-color: $color-secondary;
  }
  &:not([disabled]):not(.disabled).active {
    background-color: $color-secondary;
    border-color: $color-secondary;
    box-shadow: 0 0 0 0.2rem rgba($color-secondary, .5);
  }
}

.btn-primary:not([disabled]):not(.disabled).active,
.btn-primary:not([disabled]):not(.disabled):active,
.show>.btn-primary.dropdown-toggle {
  background-color: $color-primary;
  border-color: $color-primary;
  box-shadow: 0 0 0 0.2rem rgba($color-primary, .5);
}

.btn-secondary:not([disabled]):not(.disabled).active,
.btn-secondary:not([disabled]):not(.disabled):active,
.show>.btn-secondary.dropdown-toggle {
  background-color: $color-secondary;
  border-color: $color-secondary;
  box-shadow: 0 0 0 0.2rem rgba($color-secondary, .5);
}

.btn-outline-primary:not([disabled]):not(.disabled).active,
.btn-outline-primary:not([disabled]):not(.disabled):active,
.show>.btn-outline-primary.dropdown-toggle {
  background-color: $color-primary;
  border-color: $color-primary;
  box-shadow: 0 0 0 0.2rem rgba($color-primary, .5);
}

.btn-outline-secondary:not([disabled]):not(.disabled).active,
.btn-outline-secondary:not([disabled]):not(.disabled):active,
.show>.btn-outline-secondary.dropdown-toggle {
  background-color: $color-secondary;
  border-color: $color-secondary;
  box-shadow: 0 0 0 0.2rem rgba($color-secondary, .5);
}

.btn-light{
  background-color: $color-soft;
  border-color: $color-soft;
  &:hover {
    background-color: darken($color-soft, 10%);
    border-color: darken($color-soft, 10%);
  }
}

.btn-facebook {
  background-color: $color-facebook;
  border-color: $color-facebook;
  color: $color-water !important;
  &:hover {
    background-color: darken($color-facebook, 10%);
    border-color: darken($color-facebook, 10%);
  }
}

.btn-outline-facebook {
  border-color: $color-facebook;
  color: $color-facebook;
  &:hover {
    color: $color-water;
    background-color: $color-facebook;
    border-color: $color-facebook;
  }
}
