@mixin box-shadow($x, $y, $blur, $spread, $color) {
  box-shadow: $x $y $blur $spread $color;
  -moz-box-shadow: $x $y $blur $spread $color;
  -webkit-box-shadow: $x $y $blur $spread $color;
}

@mixin grediant($left, $right) {
  background: -webkit-linear-gradient(left,$left, $right);
  background: -o-linear-gradient(left, $left, $right);
  background: -moz-linear-gradient(left, $left, $right);
  background: linear-gradient(to right, $left, $right);
}
