$color-primary: #00a572;
$color-secondary: #27aae1; //1b75bc

$color-water: #ffffff;
$color-light: #f2f2f2;
$color-soft: #e9ecef;
$color-medium: #3a4651;
$color-bold: #3a3a3a;
$color-black: #232323;


$color-facebook: #3b5998;
$color-gplus: #dd4b39;
$color-youtube: #ff0000;
$color-instagram: #833ab4;
$color-twitter: #1da1f2;
$color-linkedin: #0077b5;
$color-pinterest: #bd081c;

$color-alert-info: #bce8f1;
$color-alert-success: #d6e9c6;
$color-alert-warning: #faebcc;
$color-alert-danger: #edccd1;

$font-content: 'Cairo', Arial, Tahoma, sans-serif;
$font-heading: $font-content;
