.bg-primary,
.badge-primary {
  background-color: $color-primary !important;
}

.bg-secondary,
.badge-secondary {
  background-color: $color-secondary !important;
}

.bg-light {
  background-color: $color-light !important;
}

.bg-neutral {
  background-color: $color-soft !important;
}

.bg-dark {
  background-color: $color-bold !important;
}

.text-primary {
  color: $color-primary !important;
}

.text-seconday {
  color: $color-secondary !important;
}

.text-light {
  color: #6b7c93 !important;
}

.text-dark {
  color: $color-bold !important;
}

.breadcrumb {
  background-color: darken($color-soft, 3%);
}

.table .thead-light th {
  background-color: darken($color-soft, 3%);
}

.alert {
  border-radius: 0;
  border: 0;
  &.alert-success {
    @include box-shadow(0, 4px, 0, 0, $color-alert-success);
  }
  &.alert-info {
    @include box-shadow(0, 4px, 0, 0, $color-alert-info);
  }

  &.alert-warning {
    @include box-shadow(0, 4px, 0, 0, $color-alert-warning);
  }

  &.alert-danger {
    @include box-shadow(0, 4px, 0, 0, $color-alert-danger);
  }

}

.navbar-brand {
  img {
    max-height: 30px;
  }
}

.dropdown-item, .dropdown-item:active {
  &.active,
  &:active {
    background-color: $color-primary;
  }
}

.form-control {
  border-radius: 3px;
  &:focus {
    box-shadow: 0 0 0 0.2rem rgba($color-primary,.5);
    border-color: lighten($color-primary, 30%);
  }
}

.tooltip {
  font-family: $font-content !important;
}
.tooltip-inner {
  padding: 12px;
}

// Editor
span.cke_skin_kama {
  border: none !important;
  padding: 0 !important;
}
.cke_skin_kama .cke_wrapper {
  background-image: none !important;
  background-color: $color-soft !important;
}

.size-24 {
  font-size: 24px;
}

//Toggle Buttons
.toggle-off {
    box-shadow: inset 0 3px 5px rgba(0, 0, 0, .125);
}
.toggle.off {
    border-color: rgba(0, 0, 0, .25);
}

.toggle-handle {
    background-color: white;
    border: thin rgba(0, 0, 0, .25) solid;
}

.toggle, .toggle-on, .toggle-off { border-radius: 20px; }
.toggle .toggle-handle { border-radius: 20px; }
