.navbar-brand {
  margin-right: 0;
}

.list-group {
  padding-right: 0;
}

.metismenu {
  .arrow {
    float: left;
  }
}


.form-check {
  padding-right: 1.25rem;
  padding-left: 0;
  &.form-check-inline {
    padding-right: inherit;
    padding-left: inherit;
  }
}

.form-check-input {
  margin-right: -1.25rem;
  margin-left: 0;
}
.form-check-inline {
  margin-left: .75rem;
  margin-right: 0;
  .form-check-input {
      margin-left: .3125rem;
      margin-right: 0;
  }
}

button.close {
  float: left;
}
.modal-header {
  .close {
    margin: -1rem auto -1rem -1rem;
  }
}

.input-group {
  >.custom-select:not(:first-child),
  >.form-control:not(:first-child) {
    border-top-left-radius: .25rem;
    border-bottom-left-radius: .25rem;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
  }
  >.input-group-text {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
  }
}

.toggle.btn {
  margin-right: 1rem;
}
.form-check-label {
  padding-right: 0;
}

.alert-dismissible {
  padding-right: 2rem;
  padding-left: 4rem;
  .close {
    left: 0;
    right: -1rem;
  }
}
