*::-webkit-input-placeholder { color: #bbb !important; }
          *:-moz-placeholder { color: #bbb !important; opacity: 1; }
        *::-moz-placeholder  { color: #bbb !important; opacity: 1; }
    *:-ms-input-placeholder  { color: #bbb !important; }

body.funnel {
  background: url(../control/assets/wizimg/bg-stripes.png) repeat right top #f5f6f7;
}
a:hover {
  opacity: 0.8;
}
#branding img {
  width: 150px;
  height: 40px;
}
ol#stindex-list li a {
  height: 15px;
  width: 15px;
  display: inline-block;
  transform: rotate(45deg);
  background-color: #e0e0e0;
  margin: 0;
}
ol#stindex-list li::after {
  content: "";
  width: 55px;
  height: 3px;
  background-color: #e0e0e0;
  display: inline-block;
  position: relative;
  margin: 6px;
  transform: rotate(0deg);
}
ol#stindex-list li:last-child::after {
  display: none;
}
ol#stindex-list li:first-child.completed a, ol#stindex-list li:first-child.active a { background-color: #00a572; }
ol#stindex-list li:nth-child(2).completed a, ol#stindex-list li:nth-child(2).active a { background-color: #1ca990; }
ol#stindex-list li:nth-child(3).completed a, ol#stindex-list li:nth-child(3).active a { background-color: #42afca; }
ol#stindex-list li:last-child.completed a, ol#stindex-list li:last-child.active a { background-color: #00afed; }

ol#stindex-list li:last-child a i.fa {
  display: none;
  color: white;
  text-shadow: 0 1px 5px rgba(0,0,0,0.5);
  transform: rotate(-45deg);
  position: absolute;
  right: 0;
  font-weight: normal;
  top: -3px;
}
ol#stindex-list li:last-child.completed a i.fa { 
  display: inline-block;
}

.wizard-dialog {
  box-shadow: 0 0 50px rgba(0, 0, 0, 0.05);
}
.step-content {
  background: none no-repeat right bottom transparent;
}
.step-content::after {
  content: "";
  background: none no-repeat right bottom transparent;
  display: block;
  width: 225px;
  height: 225px;
  position: absolute;
  bottom: -25px;
  right: -25px;
  z-index: 1;
}

.step-content#register-dialog { background-image: url(../control/assets/wizimg/bg-waveblue.png); }
.step-content#register-dialog::after { background-image: url(../control/assets/wizimg/graphics-register.png); }

.step-content#create-dialog { background-image: url(../control/assets/wizimg/bg-wavegreen.png); }
.step-content#create-dialog::after { background-image: url(../control/assets/wizimg/graphics-create.png); }

.step-content#details-dialog { background-image: url(../control/assets/wizimg/bg-waveblue.png); }
.step-content#details-dialog::after { background-image: url(../control/assets/wizimg/graphics-details.png); }

.step-content#features-dialog { background-image: url(../control/assets/wizimg/bg-wavegreen.png); }
.step-content#features-dialog::after { background-image: url(../control/assets/wizimg/graphics-features.png); }

.step-content h1, .title-stylish {
  letter-spacing: -1px;
  color: #464f65;
  font-family: "El Messiri", Cairo, "Droid Arabic Kufi", Tahoma, sans-serif;
  font-size: 18pt;
}
.step-content h1 {
  font-size: 24pt;
}
.step-content p.text-muted {
  color: #aaa !important;
}
.step-content form {
  min-height: 500px;
  z-index: 10;
}
.step-content .form-group {
  transition: all 0.35s ease-out;
  overflow: hidden;
}
.form-control, .input-group-addon {
  direction: rtl;
  border: none !important;
  outline: none !important;
  background-color: #f7f7f7 !important;
  box-shadow: inset 0 1px 0 #dedede !important;
  border-radius: 0 !important;
  height: 46px !important;
  font-size: 12pt;
  /*padding: 11px 0 15px;*/
}
.input-group-addon .fa {
  color: #ccc;
}
.form-control[type="email"] {
  direction: ltr;
  text-align: right;
}

form button[type="submit"] {
  background-image: linear-gradient(to left, #11a87c, #48acd8) !important;
  outline: none !important;
  font-family: "El Messiri", Cairo, "Droid Arabic Kufi", Tahoma, sans-serif;
  font-weight: bold;
}

#carddemo {
  background-color: #fff;
  box-shadow: 0 0 20px rgba(0,0,0,0.1);
  height: auto;
}
#carddemo-title {
  color: #464f65;
  font-weight: bold;
  font-size: 16pt;
  font-family: "El Messiri", Cairo, "Droid Arabic Kufi", Tahoma, sans-serif;
  letter-spacing: -0.5px;
  height: 25px;
}
#carddemo-url {
  letter-spacing: 2px;
  text-transform: uppercase;
  font-size: 10pt !important;
  overflow-wrap: break-word;
  height: 20px;
  direction: ltr;
}
#carddemo-mission {
  color: #444;
  line-height: 1.6;
  min-height: 90px;
}
#imgWindow {
  height: 125px;
  overflow: hidden;
  cursor: pointer;
  background: url(../control/assets/wizimg/img-intajy-mark.png) no-repeat center center #eee;
  background-size: cover;
  border: 1px solid #eee;
}
.body-title {
  letter-spacing: -0.5px;
  color: #333;
}

.package-box-list .package-box { transition: opacity 0.30s ease-out; }
.package-box-list:hover .package-box { opacity: 0.3;  }
.package-box-list:hover .package-box:hover { opacity: 1;  }

.package-box .fa.fa-check-circle {
  display: none;
  position: absolute;
  color: #fff;
  right: 8px;
  top: -10px;
  font-size: 34pt;
  text-shadow: 0 3px 10px rgba(0,0,0,0.3);
  z-index: 1;
}
.package-box article {
  background-color: #fff;
  box-shadow: 0 0 20px rgba(0,0,0,0.1);
  min-height: 350px;
  height: 0;
  transition: height 0.7s ease-out;
  overflow: hidden;
}
.package-box:hover article {
  box-shadow: 0 0 20px rgba(0,0,0,0.1), 0 0 1px #1ca9a2 !important;
}
.package-box article.show {
  height: 500px;
}
.package-box article .hotspot {
  cursor: pointer;
}

.package-box h2 {
  background-color: #f7f7f7;
  font-family: "El Messiri", Cairo, "Droid Arabic Kufi", Tahoma, sans-serif;
}
.package-box footer {
  bottom: 0;
}

.package-box:first-child h2 { color: #11a87c; }
.package-box:last-child h2 { color: #00afed; }

.package-box:first-child .btn-showdeatils {
  background-color: #00a572;
  border: none;
}
.package-box:last-child .btn-showdeatils {
  background-color: #00afed;
  border: none;
}
.package-box.selected .fa.fa-check-circle {
  display: inline;
}
.package-box.selected article {
  border: 1px solid #1ca9a2;
}
/* Gradient background styling */
.bg-grad,
.package-box.selected h2,
.package-box.selected .btn-showdeatils {
  background: linear-gradient(to left, #11a87c, #48acd8) !important;
  color: white;
}

/*###########  PHONE VIEW  ###########*/
@media (max-width: 768px) {
  .step-content::after {
    display: none;
  }
  .input-group-addon .fa {
    font-size: 0;
    margin: 0 7px !important;
  }  
  #imgWindow {
    background-size: contain;
  }
}